.bg{
    &-100{background-color: #444;}
    &-200{background-color: #555;}
    &-300{background-color: #666;}
    &-400{background-color: #777;}
    &-500{background-color: #888;}
    &-600{background-color: #999;}
    &-700{background-color: #aaa;}
    &-800{background-color: #bbb;}
    &-900{background-color: #ccc;}
}