.br{
    &-100{border-color: #444;}
    &-200{border-color: #555;}
    &-300{border-color: #666;}
    &-400{border-color: #777;}
    &-500{border-color: #888;}
    &-600{border-color: #999;}
    &-700{border-color: #aaa;}
    &-800{border-color: #bbb;}
    &-900{border-color: #ccc;}
}