.mh{
    &-15vh{
        min-height: 15vh;
    }
    &-20vh{
        min-height: 20vh;
    }
    &-25vh{
        min-height: 25vh;
    }
    &-50vh{
        min-height: 50vh;
    }
    &-75vh{
        min-height: 75vh;
    }
    &-100vh{
        min-height: 100vh;
    }
}