.opacity{
    &-100{opacity: 0.1;}
    &-200{opacity: 0.2;}
    &-300{opacity: 0.3;}
    &-400{opacity: 0.4;}
    &-500{opacity: 0.5;}
    &-600{opacity: 0.6;}
    &-700{opacity: 0.7;}
    &-800{opacity: 0.8;}
    &-900{opacity: 0.9;}
    &-1000{opacity: 1;}
}